<%- include("../header") -%>

<h1>Редактирование</h1>

<form action="<%= model.d.id %>" method="post">
  <div class="form-horizontal">

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="name">Название</label>
  <div class="col-sm-7">
    <input class="form-control" name="name" value="<%= model.d.name %>" autofocus/>
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="type">Тип</label>
  <div class="col-sm-7">
    <select class="form-control" name="type"/>
      <% for (const d of model.typeList) { %>
		<option value="<%= d.id %>" <%= model.d.type == d.id ? 'selected' : '' %>><%= d.name %></option>
      <% } %>
    </select>
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="pack">Корпус</label>
  <div class="col-sm-7">
    <select class="form-control" name="pack"/>
      <% for (const d of model.packList) { %>
		<option value="<%= d.id %>" <%= model.d.pack == d.id ? 'selected' : '' %>><%= d.name %></option>
      <% } %>
    </select>
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="descr">Описание</label>
  <div class="col-sm-7">
    <textarea class="form-control" name="descr" rows="8"><%= model.d.descr %></textarea>
  </div>
</div>

<h2>На складе</h2>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Владелец</th>
        <th>Местоположение</th>
        <th>Количество</th>
        <th class="d-print-none"></th>
      </tr>
    </thead>
    <tbody>
      <% for (const d of model.cell) { %>
        <tr>
          <td><%= d.name %></td>
          <td>
			<input class="form-control" name="place_<%= d.id %>" value="<%= d.place %>" />
          </td>
          <td>
			<input class="form-control" style="width: 80px" name="cnt_<%= d.id %>" value="<%= d.cnt %>" />
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>


    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Сохранить" class="btn btn-default btn-success" />
        <a class="btn btn-outline-dark cancel" href="..">Отмена</a>
      </div>
    </div>
  </div>

</form>

<%- include("../footer") -%>

